// Navigation Styles here
nav {
    display: flex;
    justify-content: flex-end;
}
nav a {
    align-content: center;
    font-size: 2.0rem;
    margin-left: 50px;
    text-decoration: none;
    color: @font-color;
}

